{% extends 'base.html'  %}
{% block content %}
   <table>
       <tr>
           <th>nazwa rośliny</th>
           <th>nazwa gatunkowa</th>
           <th>warunki świetlne</th>
           <th>przepuszczalność podłoża</th>
           <th>opis</th>
       </tr>
    {% for plant in my_plant %}
        <tr>
            <td>
                <a href="{% url 'update_my_plant' plant.pk %}">{{ plant.name }}</a>
            </td>
        <td>{{ plant.species }}</td>
        <td>{{ plant.light_requirements }}</td>
        <td>{{ plant.soil_humidity }}</td>
        <td>{{ plant.description }}</td>
        </tr>
    {% endfor %}
   </table>
{% endblock %}