{% extends 'base.html'  %}
{% block content %}
   <table>
       <tr>
           <th>roślina</th>
           <th>wymieniane podłoże</th>
           <th>nowe podłoże</th>
           <th>data</th>
           <th>uwagi</th>
       </tr>
    {% for r in replanting %}
        <tr>
        <td>{{ r.plant }}</td>
        <td>{{ r.old_soil_type }}</td>
        <td>{{ r.new_soil_type }}</td>
        <td>{{ r.date }}</td>
        <td>{{ r.comment }}</td>
        
        </tr>
    {% endfor %}
   </table> 
    
{% endblock %}