{% extends 'base.html'  %}
{% block content %}
   <table>
       <tr>
           <th>typ podłoża</th>
           <th>producent</th>
           <th>komentarze</th>
       </tr>
    {% for s in soil %}
        <tr>
        <td>
           {{ s.soil_type }} <a href="{% url 'delete_soil' s.pk %}"><img src="https://images2.imgbox.com/5d/a2/IWuHcpti_o.jpg" width="30px" height="30px"></a>
        </td>
        <td>{{ s.soil_manufacturer }}</td>
        <td>{{ s.comment }}</td>
        </tr>
    {% endfor %}
   </table> 
    
{% endblock %}