<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="topnav">
<div>

        <a href="{% url 'add_plant_type' %}">Dodaj nazwę gatunkową</a>
        <a href="{% url 'plant_type_list' %}">Lista gatunków</a>
        <a href="{% url 'add_my_plant' %}">Dodaj roślinę</a>
        <a href="{% url 'show_my_plant' %}">Moje rośliny</a>
        <a href="{% url 'search_plant' %}">Wyszukaj roślinę</a>
        <a href="{% url 'add_soil' %}">Dodaj podłoże</a>
        <a href="{% url 'show_soil' %}">Lista podłóż</a>
        <a href="{% url 'add_replanting' %}">Przesadzanie</a>
        <a href="{% url 'show_replanting' %}">Historia przesadzania</a>
        <a href="{% url 'add_watering'  %}">Podlewanie</a>
        <a href="{% url 'show_watering' %}">Historia podlewania</a>
        <a href="{% url 'add_fertilization' %}">Nawożenie</a>
        <a href="{% url 'show_fertilization' %}">Historia nawożenia</a>
</div>

<div>
        {% if user.is_authenticated %}
            Witaj {{ user }}
            <a href="{% url 'logout' %}">wyloguj</a>
        {% else %}
            <a href="{% url 'register' %}">zarejestruj</a>
            <a href="{% url 'login' %}">zaloguj</a>
        {% endif %}
</div>
</div>
</body>